.centeredtext {
	text-align: center;
}

h1 {
	font-size: 4.375em; /*70px/16=4.375em*/
}

body {	
	
	background-color: lightgreen;
	font-family: "Courier New", "Times New Roman";
}
/*web safe fonts at the end*/

.portrait {
	border-radius: 1em;
}